body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
.contentContainer{
    border: 6px #D9A17F;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: none;
    border-right-style: none;
    background: #F7EBDB;
    text-align: center;
}
.contentContainer h3{
    margin-top: 24px;
    color: #819283;
    font-weight: 400;
    font-size: 24px;
}
form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
}
form p{
    width: 100%;
}
textarea{
    height: 180px;
    width: 250px;
    margin: 10px -50px 0px -50px;
    border-color: #819283;
    background-color: #D9A17F;
    color: #fff3cb;
    text-align: center;
    padding: 5px;
}
textarea::placeholder{
    color:#fff3cb
}
#btn{
    margin-bottom: 92px;
}
button{
    width: 120px;
    height: 25px;
    border-radius: 5px;
    color:#fff3cb;
    background: #819283;
}
#textInput{
    border-top: none;
    border-right: none;
    border-left:none;
    border-color: #D9A17F;
    background: transparent;
    color:#819283;
    font-size: 16px;
    font-weight: 200px;
    margin: 0 auto;
}
#textInput::placeholder{
    color:#819283;
    font-size: 16px;
    font-weight: 200;
}
.labelText{
    font-size:16px;
    color: #D9A17F;
}
#radioBtns{
    display:flex;
    flex-direction:row;
    margin: 10px 80px 0 80px;
}
#radioBtns label{
    margin-right: 5px;
    font-size: 14px;
}
input[type='radio']{
    -webkit-appearance: radio;
}
.swal-modal{
    background-color: #D9A17F;
    color: #F7EBDB;
}