body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
.contentContainer{
    border: 6px #D9A17F;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: none;
    border-right-style: none;
    background: #f5f3f1;
    text-align: center;
}
.contentContainer h3{
    color: #819283;
    font-weight: 400;
}
.galleryContainer{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
}
.galleryContainer img{
    height: 320px;
    width: 220px;
    border-radius: 100% 100% 0 0;
}
.galleryContainer a{
    color:#D9A17F;
    cursor: pointer;
}
#pictureAnchor{
    text-decoration: none;
}