@font-face{
    src: url(../assets/fonts/Callifornia.ttf);
    font-family: callifornia;
}
body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
.contentContainer{
    border: 6px #D9A17F;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: none;
    border-right-style: none;
    background: #f5f3f1;
    text-align: center;
}
#C_title{
    color: #819283;
    font-weight: 400;
    margin-bottom: 25px
}
.galleryContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    gap: 5px;
}
.galleryContainer img{
    height: 320px;
    width: 220px;
    border-radius: 120px 120px 5px 5px;
    margin-left: 10px;
}
.galleryContainer a{
    color:#D9A17F;
    cursor: pointer;
    font-family: callifornia, sans-serif;
    font-size: 46px;
}
#pictureAnchor{
    text-decoration: none;
}
#GI_linkText{
    margin: 0 10px;
}