body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
.contentContainer h3{
    margin-top: 5px;
    color: #819283;
    font-weight: 400;
}
.imageContainer{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    gap: 40px 0px;
    padding: 0 50px 0 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.galleryImage{
    height:200px;
    width: 125px;
    border-radius: 100% 100% 0 0;
}
