body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
.P_contentContainer{
    border: 6px #D9A17F;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: none;
    border-right-style: none;
    background: #f5f3f1;
    text-align: center;
}
.P_contentContainer h3{
    margin-top: 0px;
    color: #819283;
    font-weight: 400;
}
.P_contentContainer p{
    font-size: 14px;
    font-weight: 300;
}
#contact{
    margin-top: 15px;
    margin-bottom: 50px;
    width: 100px;
    height: 25px;
    background: #819283;
    color: #fff3cb;
    border-radius: 5px;
    border: none;
}
.bronzeTier{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.bronzeTier img{
    height:311px;
    width: 195px;
    border-radius: 120px 120px 5px 5px;
}
.bronzeTier h5{
    font-size: 16px;
    font-weight: 600;
    color: #A97142;
    margin: 0px 0 -35px 0;
    z-index: 1;
}
.bronzeTier h6{
    margin: 5px 0 0 0;
    font-size: 14px;
    font-weight: 400;
}
.bronzeTier ul{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
    padding-left: 0;
}
.bronzeTier li{
    text-align: left;
}
.silverTier{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 35px;
}
.silverTier img{
    height:311px;
    width: 195px;
    border-radius: 120px 120px 5px 5px;
}
.silverTier h5{
    margin: 0px 0 -35px 0;
    z-index: 1;
    font-size: 16px;
    font-weight: 600;
    color: #7a797e;
}
.silverTier h6{
    margin: 5px 0 0 0;
    font-size: 14px;
    font-weight: 400;
}
.silverTier ul{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
    padding-left: 0;
}
.silverTier li{
    text-align: left;
}
.goldTier{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 35px;
}
.goldTier img{
    height:311px;
    width: 195px;
    border-radius: 120px 120px 5px 5px;
}
.goldTier h5{
    margin: 0px 0 -35px 0;
    z-index: 1;
    font-size: 16px;
    font-weight: 600;
    color: #D4aF37;
}
.goldTier h6{
    margin: 5px 0 0 0;
    font-size: 14px;
    font-weight: 400;
}
.goldTier ul{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
    padding-left: 0;
}
.goldTier li{
    text-align: left;
}
@media screen and (min-width: 481px){
    #tiers{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        gap: 100px;
        margin-bottom: 85px;
    }
    .bronzeTier{
        margin-left: 15px;
        margin-top: 36px;
    }
    .P_contentContainer p{
        font-size: 18px;
    }
    .P_contentContainer h3{
        font-size: 1.5em;
        margin-top: 10px;
    }
    #contact {
        width: 150px;
        height: 35px;
    }
}
