@font-face{
    src: url(../assets/fonts/Callifornia.ttf);
    font-family: callifornia;
}
body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
.TES_contentContainer{
    border: 6px #D9A17F;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: none;
    border-right-style: none;
    background: #F7EBDB;
    text-align: center;
}
.TES_contentContainer h3{
    color: #819283;
    font-weight: 400;
}
.TES_contentContainer p{
    padding: 0 50px 25px 50px;
}
#testimonialImg{
    width: 213px;
    height: 320px;

    border-radius: 120px 120px 5px 5px;
    margin-bottom: 25px;
}
#TES_names{
    color: #9eae9f;
    font-family: callifornia, cursive;
    font-size:54px;
    font-weight: 400;
    margin-top: -85px;
    padding-right: 180px;
    line-height: 1;
    margin-bottom: 15px;
}
#TES_names #text{
    margin-bottom: 0;
}
#TES_span{
    margin-left: 100px;
}
#TES_p{
    margin-top: 0;
}